/* ========================================================== WRAPPER ========================================================== */

.example-wrapper {
  bottom: 24px;
  position: fixed;
  right: 24px;
  font-family: Aeonik,sans-serif;
  z-index: 9999;
}

/* ========================================================== FRAME ========================================================== */

.example-frame {
  border: 0;
  border-radius: 8px;
  bottom: 124px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  height: 666px;
  height: min(666px, calc(100vh - 150px));
  opacity: 0;
  overflow: hidden;
  position: fixed;
  right: 24px;
  transform: translateY(20px);
  transition: 0.2s;
  width: 375px;
}
/* Fallback for older browsers */
@media only screen and (max-width: 700px) {
  .example-frame {
    height: 444px;
    height: min(666px, calc(100vh - 150px));
  }
}
@media only screen and (max-width: 600px) {
  .example-frame {
    border-radius: 0;
    bottom: unset;
    height: 100vh;
    left: 0;
    right: unset;
    top: 0;
    width: 100vw;
  }
}

.example-frame.open {
  opacity: 1;
  transform: translateY(0px);
}

/* ========================================================== BUTTON ========================================================== */

.example-button {
  background: rgba(255, 255, 255, 0.75) ;
  border: 0;
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 7px 12px 11px -9px;
  font-size: 14px;
  padding: 7px 14px;
  font-family: Aeonik,segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

@media only screen and (max-width: 600px) {
  .example-button {
    height: 60px;
    width: 60px;
  }
}

.example-button svg {
  fill: #ffffff;
  position: relative;
  top: 2px;
  height: 40px;
  width: 40px;
}

.example-icon {
  padding-left: 6px;
}

@media only screen and (max-width: 600px) {
  .example-button svg {
    height: 32px;
    width: 32px;
  }

  .example-button.open {
    display: none;
  }
}

/* ========================================================== TOOLTIP ========================================================== */

.example-tooltip {
  background: rgba(239, 90, 60, 0.761);
  border-radius: 8px;
  box-shadow: rgba(239, 90, 60, 0.257) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  opacity: 1;
  margin: 0;
  position: absolute;
  right: 2px;
  top: -80%;
  transform: translatey(-50%);
  transition: 0.15s ease-in-out;
  width: 248px;
  padding: 8px 12px 8px 12px;
}

@media only screen and (max-width: 600px) {
  .example-tooltip {
    right: 72px;
    text-align: left;
    max-width: 124px;
  }
}

.example-tooltip.off {
  opacity: 0;
  transform: translate(20px, -50%);
}

@media only screen and (max-width: 600px) {
  .example-tooltip.off {
    display: none;
    opacity: 0;
  }
}

/* ========================================================== CARET ========================================================== */

.example-caret {
  position: absolute;
  top:75%;
  transform: rotate(90deg);
  right: 7px;
  width: 24px;
  height: 48px;
  fill: rgba(239, 90, 60, 0.761);
}

@media only screen and (max-width: 600px) {
  .example-caret {
    right: -8px;
    width: 16px;
    height: 24px;
  }
}

/* ========================================================== CLOSE BUTTON ========================================================== */

.example-close {
  display: none;
}

@media only screen and (max-width: 600px) {
  .example-close {
    background-color: rgba(35, 41, 53, 0.2);
    border: 0;
    border-radius: 100%;
    color: #ffffff;
    display: block;
    height: 32px;
    position: fixed;
    right: 32px;
    top: 16px;
    width: 32px;
    z-index: 9999;
  }

  .example-close svg {
    fill: #ffffff;
    width: 14px;
    height: 14px;
    position: relative;
    top: 2px;
  }

  .example-button.off {
    display: none;
  }
}

/* ========================================================== MESSAGE ========================================================== */

.example-message span {
  display: inline-block;
  font-family: Aeonik,segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  line-height: 1.4;
}

.example-message span.line1 {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.example-message span.line2 {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .example-message.desktop {
    display: none;
  }
}

.example-message.mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .example-message.mobile {
    display: block;
  }
}

/*  ================================================================ */

.bg-orange-400 {
    --tw-bg-opacity: 1;
    background-color: rgba(239, 90, 60, 0.761);
}

.online-users-container {
  display: flex;
  align-items: center;
}

.profile-images-container {
  display: flex;
}

.profile-image {
  border-radius: 50px;
  overflow: hidden;
}

.profile-image img {
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */
  border-color: #ffffff;
  object-fit: cover;
}
.profile-image img:hover {
  transform: translateY(2px);
  transition: 0.15s ease-in-out;
}

.profile-image-border {
  border : 3px solid rgb(249, 249, 249);
  border-radius: 50px;
}

.status-info {
  margin-left: 10px; /* Adjust the margin as needed */
}

.status-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px; /* Adjust the margin as needed */
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px; /* Adjust the margin as needed */
}

.green-dot {
  background-color: green;
}

.grey-dot {
  background-color: grey;
}
